<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhantomPrivacyPolicyUrl</key>
	<string>$(PHANTOM_PRIVACY_POLICY_URL)</string>
	<key>PhantomDeveloperRedditAccount</key>
	<string>$(PHANTOM_DEVELOPER_REDDIT_ACCOUNT)</string>
	<key>PhantomDeveloperContactEmail</key>
	<string>$(PHANTOM_DEVELOPER_CONTACT_EMAIL)</string>
	<key>PhantomDeveloperName</key>
	<string>$(PHANTOM_DEVELOPER_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PHANTOM_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PHANTOM_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PHANTOM_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>PhantomConfigName</key>
	<string>$(PHANTOM_CONFIG_NAME)</string>
	<key>PhantomDebugDisableDirectImgurUpload</key>
	<string>$(PHANTOM_DEBUG_DISABLE_DIRECT_IMGUR_UPLOAD)</string>
	<key>PhantomDebugDisableRetry</key>
	<string>$(PHANTOM_DEBUG_DISABLE_RETRY)</string>
	<key>PhantomDebugInstantNotifications</key>
	<string>$(PHANTOM_DEBUG_INSTANT_NOTIFICATIONS)</string>
	<key>PhantomDebugSimulateError</key>
	<string>$(PHANTOM_DEBUG_SIMULATE_ERROR)</string>
	<key>PhantomDebugSimulateMiddleware</key>
	<string>$(PHANTOM_DEBUG_SIMULATE_MIDDLEWARE)</string>
	<key>PhantomDebugSimulateReddit</key>
	<string>$(PHANTOM_DEBUG_SIMULATE_REDDIT)</string>
	<key>PhantomImgurClientId</key>
	<string>$(PHANTOM_IMGUR_CLIENT_ID)</string>
	<key>PhantomImgurClientSecret</key>
	<string>$(PHANTOM_IMGUR_CLIENT_SECRET)</string>
	<key>PhantomImgurRedirectUri</key>
	<string>$(PHANTOM_IMGUR_REDIRECT_URI)</string>
	<key>PhantomRedditClientId</key>
	<string>$(PHANTOM_REDDIT_CLIENT_ID)</string>
	<key>PhantomRedditRedirectUri</key>
	<string>$(PHANTOM_REDDIT_REDIRECT_URI)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
