//
//  Stable.xcconfig
//  Phantom
//
//  Created by River on 2021/08/30.
//  Copyright © 2021 Rivershy. All rights reserved.
//

// ------------------------------------------
// ------------------------------------------

// ------------------------------------------
// ------------------------------------------
// note: "$()" in "https:/$()/" prevents the double slash being recognized as comment

#include "Base.xcconfig"

PHANTOM_CONFIG_NAME = stable

PHANTOM_APP_NAME = $(inherited)
PHANTOM_BUNDLE_IDENTIFIER = $(inherited)

PHANTOM_DEVELOPER_NAME = $(inherited)
PHANTOM_DEVELOPER_CONTACT_EMAIL = $(inherited)
PHANTOM_DEVELOPER_REDDIT_ACCOUNT = $(inherited)

PHANTOM_PRIVACY_POLICY_URL = $(inherited)

PHANTOM_REDDIT_CLIENT_ID = $(inherited)
PHANTOM_REDDIT_REDIRECT_URI = $(inherited)

PHANTOM_IMGUR_CLIENT_ID = $(inherited)
PHANTOM_IMGUR_CLIENT_SECRET = $(inherited)
PHANTOM_IMGUR_REDIRECT_URI = $(inherited)

PHANTOM_DEBUG_SIMULATE_MIDDLEWARE = $(inherited)
PHANTOM_DEBUG_SIMULATE_REDDIT = $(inherited)
PHANTOM_DEBUG_DISABLE_RETRY = $(inherited)
PHANTOM_DEBUG_DISABLE_DIRECT_IMGUR_UPLOAD = $(inherited)
PHANTOM_DEBUG_SIMULATE_ERROR = $(inherited)
PHANTOM_DEBUG_INSTANT_NOTIFICATIONS = $(inherited)
